<body class="give me some color">
  <div class="give me some space">
    <div class="ui center aligned grid">
      <i class="inverted huge smile icon"></i>
    </div>
    <div class="ui center aligned grid">
      <h1>Ha, you see me, suckers!</h1>
    </div>
  </div>
</body>